*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: 0;
  font-family: 나눔고딕, Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
#box{
  width: 1200px;
  margin:0 auto;
}
.head{
  width: 1200px; height: 100px;
  margin:0 auto; 
}
.piclo{
text-align: center;
}
.piclo >img{
  width: 100%;
  }
#menubar {
	background :blanchedalmond;
}
.jb-wrap{width:100%;margin:0;display:flex}
.jb-wrap img{width:100%;vertical-align:middle}
.jb-image>p{padding:5px 10px;background-color:#deb887;text-align:center}
.jb-image>span>strong{color:#00f}
.jb-wrapp{width:100%;margin:0;display:flex}
.jb-wrapp img{width:100%;vertical-align:middle}
.footertxt{text-align:center;font-size:30px;background-color:gold}
.footer1>img{height:49.9%;width:49.8%;margin:0 auto;display:inline-block}

.realfooterimg{margin:0;display:flex}

.head>button{float:right}

h2{position:relative;padding:.5rem;border:2px dashed #fff;background:#ffebcd;box-shadow:0 0 0 5px #e1f5fe}
h2::after{position:absolute;top:-7px;left:-7px;content:'';border-width:0 0 15px 15px;border-style:solid;border-color:#fff #fff #81d4fa;box-shadow:1px 1px 1px #e0e0e0}
h3{color:#fff;padding:.7rem .7rem .7rem 2rem;border-radius:100vh;background-image:-webkit-linear-gradient(right,#f4ff81 0,#00e676 100%);background-image:linear-gradient(to left,#f4ff81 0,#00e676 100%)}
h4{padding:1rem;background-color:#e1f5fe;background-size:35px 35px;background-image:linear-gradient(90deg,rgba(179,229,252,.4) 50%,transparent 50%),linear-gradient(rgba(179,229,252,.4) 50%,transparent 50%)}
span>h3{color:#fff;padding:1rem;background-color:#ff4081;background-size:50px 50px;background-position:0 0,25px 25px;background-image:radial-gradient(rgba(252,228,236,.3) 13%,transparent 13%),radial-gradient(rgba(252,228,236,.3) 13%,transparent 13%)}
nav>h3{color:#2979ff;border-bottom:2px dashed #2979ff}